.deposit-container > .info-text-container {
  margin-top: 18px;
}

.deposit-container > button {
  margin-top: 51px;
  padding: 20px;
}

.deposit-container > button > p {
  font-size: 19px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.deposit-container > .token-input-box {
  margin-bottom: 23px;
  padding: 20px;
}
